<div class="top1">
  <div class="top1_logo">MonoLists</div>
  <div class="top1_btns">
    <div class="top1_btn1">ログイン</div>
    <div class="top1_btn2">新規登録</div>
  </div>
</div>

<div class="top2">
  <div class="top2_texts">
    <div class="top2_text1">キャッチコピー</div>
    <div class="top2_text2">使い方</div>
  </div>
</div>

<div class="top3">
  <div class="top3_field">
    <div class="top3_title">Popular Lists</div>
    <div class="top3_list_field">
      <div class="top_list_upper">
        <div class="top_list_name">リスト名</div>
        <div class="top_list_fav">いいね</div>
        <div class="top_list_user">ユーザー名</div>
      </div>
      <div class="top_list_lower">
        <div class="top_list_text">リスト説明</div>
      </div>
    </div>
  </div>
</div>

<div class="top4">
  <div class="top4_field">
    <div class="top4_title">Search Lists</div>
    <div class="top4_search_form">リスト検索フォーム</div>
    <div class="top4_list_field">
      <div class="top_list_upper">
        <div class="top_list_name">リスト名</div>
        <div class="top_list_fav">いいね</div>
        <div class="top_list_user">ユーザー名</div>
      </div>
      <div class="top_list_lower">
        <div class="top_list_text">リスト説明</div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer_text">フッター</div>
</footer>