<div class="top1">
  <div class="top1_logo">MonoList</div>
  <div class="top1_btns">
    <% if user_signed_in? %>
      <div><%= link_to current_user.user_name, '#', class: "top1_btn1" %></div>
      <div><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "top1_btn2" %></div>
    <% else %>
      <div><%= link_to 'ログイン', new_user_session_path, class: "top1_btn1" %></div>
      <div><%= link_to '新規登録', new_user_registration_path, class: "top1_btn2" %></div>
    <% end %>
  </div>
</div>

<div class="top2">
  <div class="top2_texts">
    <div class="top2_text1">キャッチコピー</div>
    <div class="top2_text2">使い方</div>
  </div>
</div>

<div class="top3">
  <div class="top3_field">
    <div class="top3_title">Popular Lists</div>
    <div class="top3_list_field">
      <div class="top_list_upper">
        <div class="top_list_name">リスト名</div>
        <div class="top_list_fav">いいね</div>
        <div class="top_list_user">ユーザー名</div>
      </div>
      <div class="top_list_lower">
        <div class="top_list_text">リスト説明</div>
      </div>
    </div>
  </div>
</div>

<div class="top4">
  <div class="top4_field">
    <div class="top4_title">Search Lists</div>
    <div class="top4_search_form">リスト検索フォーム</div>
    <div class="top4_list_field">
      <div class="top_list_upper">
        <div class="top_list_name">リスト名</div>
        <div class="top_list_fav">いいね</div>
        <div class="top_list_user">ユーザー名</div>
      </div>
      <div class="top_list_lower">
        <div class="top_list_text">リスト説明</div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer_text">フッター</div>
</footer>