/***************************************************
マイページ
***************************************************/
header{
  display: flex;
  height: 60px;
}

.header_left{
  display: flex;
  align-items: center;
  width: 30vw;
}

.header_logo{
  margin-left: 20px;
  color: black;
}
.header_list_btn{
  margin-left: 20px;
}

.header_right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70vw;
}

.header_page_user{
  margin-left: 20px;
}

.header_btns{
  display: flex;
}

.header_btn_left{
  margin-right: 20px;
  color: black;
}

.header_btn_right{
  margin-right: 20px;
  color: black;
}

.index_main{
  height: calc(100vh - 60px);
  display: flex;
}

.index_main_left{
  width: 20vw;
  background-color: #79dae8;
  padding: 10px;
}

.index_sort_list{
  height: 30px;
}

.index_field{
  height: calc(100% - 30px - 60px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.621);
}

.index_list_name{
  margin-bottom: 5px;
}

.index_lower_left{
  height: 60px;
}

.index_main_right{
  width: 80vw;
  background-color: #e8f9fd;
  padding: 10px;
}

.index_list_field{
  height: 60px;
}

.index_list_upper{
  display: flex;
  justify-content: space-between;
}

.index_list_upper_left{
  display: flex;
}

.index_list_upper_right{
  display: flex;
}

.index_sort_item{
  height: 20px;
}

.index_item_field{
  height: calc(100% - 60px - 20px - 60px);
}

.index_lower_right{
  height: 60px;
}

/***************************************************
プロフィールページ
***************************************************/
.main_base{
  height: 100vh;
  background-color: #79dae8;
}

.main_base_{
  height: 100%;
  width: 50vw;
  margin: 0 auto;
  background-color: #e8f9fd;
  padding: 20px;
}

.show_user_name_field{
  text-align: center;
  font-size: 20px;
}

.show_user_text{
  text-align: center;
}

.show_user_btns{
  text-align: center;
}

.show_user_status_field{
  display: flex;
  justify-content: center;
}

.show_user_status{
  margin: 0 10px;
}

.show_list_name{
  text-align: center;
}

/***************************************************
モーダルウィンドウ
***************************************************/

#mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;
  z-index: 2;
  width: 935px;
}

#mask.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);
}

.new_list_page{
  height: 100%;
  width: 100%;
  background-color: white;
}

/***************************************************
モーダルウィンドウ：リスト作成
***************************************************/
.new_list_page_{
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 20px 0;
}

.new_list_page_title{
  padding: 20px 0;
}

.new_list{
  margin: 0 auto;
  text-align: center;
}

.list_form{
  width: 50%;
  margin-bottom: 20px;
}

.list_privacy_box{
  margin-bottom: 20px;
}

.new_list_btn{
  margin-bottom: 20px;
}